.redirect-360-wrap .bg-white {
    background-color: white;
}

.redirect-360-wrap .bg-gray-200 {
    background-color: #e5e7eb;
}

.redirect-360-wrap .text-blue-500 {
    color: #2563eb;
}

.redirect-360-wrap .bg-[#2563eb] {
    background-color: #2563eb;
}

/* Prevent global bleed */
body .redirect-360-wrap {
    margin: 20px;
}

/* Active tab */
.nav-tab-wrapper.wp-clearfix a.nav-tab.nav-tab-active,
.nav-tab-wrapper.wp-clearfix a.nav-tab.nav-tab-active:hover,
.nav-tab-wrapper.wp-clearfix a.nav-tab.nav-tab-active:focus {
    background-color: #2563eb !important;
    color: #ffffff !important;
    border-color: #2563eb !important;
    border-bottom-color: #2563eb !important;
}

/* Remove WP default bottom overlap */
.nav-tab-wrapper.wp-clearfix a.nav-tab.nav-tab-active {
    margin-bottom: 0 !important;
}

.nav-tab-wrapper.wp-clearfix a.nav-tab:hover:not(.nav-tab-active) {
    background-color: #e5e7eb;
}


/* First tab: no left margin */
.nav-tab-wrapper.wp-clearfix a.nav-tab:first-child {
    margin-left: 0 !important;
}